!! #include "/home/afk/.config/themes/cyberpunk"
!! #include "/home/afk/.config/themes/Dracula"
!! #include "/home/afk/.config/themes/adwaita-dark"
 #include "/home/afk/.config/themes/Arc-Dark"

!! xterm settings
xterm*faceName: monospace
xterm*faceSize: 16

!! URxvt settings
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 5
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false
URxvt.font:  xft:monospace:pixelsize=16
URxvt.background: [90]bg
